<h1>借书单</h1>
<%=flash[:error]%>
<%=flash[:waning]%>
<%=flash[:notice]%>
<table class="table table-bordered table-hover">
  <tr class="text-info">
    <th>书名</th>
    <th>简介</th>
    <th>库存</th>
    <th>操作</th>
  </tr>
  <% current_borrow.borrow_items.each do |borrow_item| %>
  <tr>
    <th><%= borrow_item.book.title %></th>
    <th><%= borrow_item.book.text %></th>
    <th><%= borrow_item.book.book_stock %></th>
    <th><%= link_to '还书', return_book_book_path(:id => borrow_item.id),
            :method => :post, :class => "btn btn-primary btn-lg btn-danger" %></th>
  </tr>
  <% end %>
</table>
